<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Eevee</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/index.css" />

    <script>
        const favDialog = document.getElementById('favDialog');
    </script>

</head>

<html>
<div id="form-main">
    <div id="form-div">
        <form id="form1" method="post" enctype=multipart/form-data>
            <p class="text">
                1. Sign up to the service via https://trello.com/ and follow the steps to create a workspace
            </p>

            <p class="text">
                2. Go to https://trello.com/app-key and accept Trello Developer Terms:
                <img src="../assets/images/trelloDocs/developer_api_keys.png" alt="developer api keys" style="width:100%">
            </p>

            <p class="text">
                3. Click 'Show API Key'. You will now be able see the api_key:
                <img src="../assets/images/trelloDocs/developer_api_keys_2.png" alt="developer api keys 2" style="width:100%">
            </p>

            <p class="text">
                4. Scroll down the page and save the API-secret:
                <img src="../assets/images/trelloDocs/oauth.png" alt="oauth" style="width:100%">
            </p>

            <p class="text">
                4. Scroll down the page and save the API-secret:
                <img src="../assets/images/trelloDocs/oauth.png" alt="oauth" style="width:100%">
            </p>

            <p class="text">
                5. Generate a Token:
                <img src="../assets/images/trelloDocs/token.PNG" alt="Generate token" style="width:100%">
            </p>

            <p class="text">
                6. Allow access to your workspace:
                <img src="../assets/images/trelloDocs/workspace.png" alt="oauth" style="width:100%">
            </p>



            <p class="text">
                7. This will transfer you to the Trello Token:
                <img src="../assets/images/trelloDocs/trello_token.PNG" alt="trello token" style="width:100%">
            </p>

            <p class="text">
                8. Register to Eevee Using the 3 keys: API-key, API-secret, Trello Token
            </p>
        </form>
    </div>
</div>

</body>