<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Eevee</title>

    <head rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/index.css" />

        <script>
            function openDialog() {
                var trelloDialog = document.getElementById('trelloDialog');
                trelloDialog.open = true;
            }

            function closeDialog() {
                var trelloDialog = document.getElementById('trelloDialog');
                trelloDialog.open = false;
            }
        </script>
    </head>

    <html>
    <div id="form-main">
        <div id="form-div">
            <form id="form1" method="post" enctype=multipart/form-data>
                <p class="name">
                    <input title="This is the text of the tooltip" required name="name" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" placeholder="Name" id="name" />
                </p>

                <p class="email">
                    <input name="email" type="text" required class="validate[required,custom[email]] feedback-input" id="email" placeholder="Email" />
                </p>
                <button class="trello_docs_dialog" type="button" onclick="openDialog()">How to setup trello?</button>
                <p class="text">
                    <input required name="trello_api_key" type="text" class="validate[required,length[0,100]] feedback-input" placeholder="Trello Api Secret" id="trello_api_key" />
                </p>

                <p class="text">
                    <input required name="trello_api_secret" type="text" class="validate[required,length[0,100]] feedback-input" placeholder="Trello Api Secret" id="trello_api_secret" />
                </p>

                <p class="text">
                    <input required name="trello_token" type="text" class="validate[required,length[0,100]] feedback-input" placeholder="Trello Token" id="trello_token" />
                </p>

                <p class="text">
                    <input required name="moodle_username" type="text" class="validate[required,length[0,100]] feedback-input" placeholder="Moodle User Name" id="moodle_username" />
                </p>

                <p class="text">
                    <input required name="moodle_password" type="text" class="validate[required,length[0,100]] feedback-input" placeholder="Moodle Password" id="moodle_password" />
                </p>

                <p class="submit">
                    <input type="submit" value="SEND" id="button-blue" />
                    <div class="ease"></div>
                </p>
            </form>
        </div>
    </div>
    <dialog id="trelloDialog" style="width:40%;">
        <div>
            <button class="trello_docs_dialog" onclick="closeDialog()">Close</button>
            <p class="text_dialog feedback-input">
                1. Sign up to the service via <a href="https://trello.com/"> https://trello.com </a> and follow the steps to create a workspace
            </p>

            <p class="text_dialog">
                <div class="text_dialog feedback-input">
                    2. Go to <a href="https://trello.com/app-key"> https://trello.com/app-key </a> and accept Trello Developer Terms:
                </div>
                <img src="../static/assets/developer_api_keys.png" alt="developer api keys" style='width:300px align="center"'>
            </p>

            <p class="text_dialog">
                <div class="feedback-input">
                    3. Click 'Show API Key'. You will now be able see the api_key:
                </div>
                <img src="../static/assets/developer_api_keys_2.png" alt="developer api keys 2" style="width:300px">
            </p>

            <p class="text_dialog">
                <div>
                    4. Scroll down the page and save the API-secret:
                </div>
                <img src="../static/assets/oauth.png" alt="oauth" style="width:300px">
            </p>

            <p class="text">
                <div class="feedback-input">
                    5. Generate a Token:
                </div>
                <img src="../static/assets/token.PNG" alt="Generate token" style="width:300px">
            </p>

            <p class="text_dialog">
                <div class="feedback-input">
                    6. Allow access to your workspace:
                </div>
                <img src="../static/assets/workspace.png" alt="oauth" style="width:300px">
            </p>



            <p class="text_dialog">
                <div class="feedback-input">
                    7. This will transfer you to the Trello Token:
                </div>
                <img src="../static/assets/trello_token.PNG" alt="trello token" width="300px">
            </p>

            <p class="text_dialog feedback-input">
                8. Register to Eevee Using the 3 keys: API-key, API-secret, Trello Token
            </p>
        </div>
    </dialog>
    </body>