<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Eevee</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Bootstrap core CSS -->
</head>

<body class="bg-light">
    <div class="container">
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="https://cdn-icons-png.flaticon.com/512/949/949666.png" alt="" width="72" height="72">
            <h2>Welcome to Eevee</h2>
            <p class="lead">EEVEE text</p>
        </div>
        <div id="form-main">
            <div id="form-div">
                <div id="form1" method="post" enctype=multipart/form-data>
                    <div class="form-group">
                        <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="Enter Email">
                    </div>
                    <div class="form-group">
                        <input required type="text" class="form-control" placeholder="Enter Trello Api Key" id="trello_api_key" />
                    </div>

                    <div class="form-group">
                        <input required type="text" class="form-control" placeholder="Enter Trello Api Secret" id="trello_api_secret" />
                    </div>

                    <div class="form-group">
                        <input required type="text" class="form-control" placeholder="Enter Trello Token" id="trello_token" />
                    </div>
                    <div class="form-group">
                        <input required name="moodle_username" type="text" class="form-control" placeholder="Moodle User Name" id="moodle_username" />
                    </div>
                    <div class="form-group">
                        <input required name="moodle_password" type="password" class="form-control" placeholder="Moodle Password" id="moodle_password" />
                    </div>

                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>

                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#trelloDialog">
                        Trello Tutorial
                    </button>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="trelloDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Trello Tutorial</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <div>
                            1. Sign up to the service via <a href="https://trello.com/"> https://trello.com </a> and follow the steps to create a workspace
                        </div>
                        <hr>
                        <div>
                            2. Go to <a href="https://trello.com/app-key"> https://trello.com/app-key </a> and accept Trello Developer Terms:
                        </div>
                        <img src="../static/assets/developer_api_keys.png" width=400px alt="developer api keys">
                        </img>
                        <hr>
                        <div>
                            <p>
                                3. Click 'Show API Key'. You will now be able see the api_key:
                            </p>
                            <img src="../static/assets/developer_api_keys_2.png" width=400px alt="developer api keys 2">
                            </img>
                        </div>
                        <hr>
                        <div>
                            <p>
                                4. Scroll down the page and save the API-secret:
                            </p>
                            <img src="../static/assets/oauth.png" width=400px alt="oauth">
                            </img>
                        </div>
                        <hr>
                        <div>
                            <p>
                                5. Generate a Token:
                            </p>
                            <img src="../static/assets/token.PNG" width=400px alt="Generate token">
                            </img>
                        </div>
                        <hr>
                        <div>
                            <p>
                                6. Allow access to your workspace:
                            </p>
                            <img src="../static/assets/workspace.png" width=400px alt="oauth">
                            </img>
                        </div>
                        <hr>
                        <div>
                            <p>
                                7. This will transfer you to the Trello Token:
                            </p>
                            <img src="../static/assets/trello_token.PNG" width=400px alt="trello token">
                            </img>
                        </div>
                        <hr>
                        <div>
                            <p>
                                8. Register to Eevee Using the 3 keys: API-key, API-secret, Trello Token
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>